<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578511484396-shjki08puk1ejjc22s150ou6en54fa3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578511484396-shjki08puk1ejjc22s150ou6en54fa3f</string>
	<key>API_KEY</key>
	<string>AIzaSyDLPd4ol39AK_Lmx1KQf4fW3CXJmyRf7XY</string>
	<key>GCM_SENDER_ID</key>
	<string>578511484396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pablo.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-6b3a4</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-6b3a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578511484396:ios:6a16a399fd823f2b</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-6b3a4.firebaseio.com</string>
</dict>
</plist>